@model IEnumerable<ShortReference.Models.ReferenceInfoViewModel>
<br />
<h3>
	<a asp-action="Create">CREATE</a>
</h3>

<table class="table table-striped table-hover table-responsive">
	<thead>
		<tr>
			<th>@Html.DisplayName("Long reference")</th>
			<th>@Html.DisplayName("Short reference")</th>
			<th>@Html.DisplayName("Created data")</th>
			<th>@Html.DisplayName("Transitions")</th>
			<th></th>
		</tr>
	</thead>

	@if (Model != null)
	{
	<tbody>
	@foreach (var item in Model)
	{
	<tr>
		<td>@item.LongReference</td>
		<td>
			<a href="@item.ShortenedReference">
				@ViewBag.Url@item.ShortenedReference
			</a>
		</td>
		<td>@item.CreatedData</td>
		<td class="transition">@item.CountTransitions</td>
		<td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
	</tr>
	}
	</tbody>
	}

</table>	
