@model IEnumerable<ShortReference.Models.ReferenceInfoViewModel>
<br />
<h3>
	<a asp-action="Create">CREATE</a>
</h3>

<br />

<table class="table">
<thead>
	<tr>
		<th>
			@Html.DisplayName("Long reference")
		</th>
		<th>
			@Html.DisplayName("Short reference")
		</th>
		<th>
			@Html.DisplayName("Created data")
		</th>
		<th>
			@Html.DisplayName("Transitions")
		</th>
		<th></th>
	</tr>
</thead>
<tbody>
	@if (Model != null)
	{
		@foreach (var item in Model)
		{
			<tr>
				<td >
					@Html.DisplayFor(modelItem => item.LongReference)
				</td>
				<td>
					@Html.Label($"{ViewBag.Url}{item.ShortenedReference}")
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedData)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CountTransitions)
				</td>
				<td>
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
		}
	}
	</tbody>
</table>
