@model WebApplication1.Models.ReferenceInfoViewModel

<h1>Ready Link</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("Long reference")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Short reference")
        </dt>
		<dd class="col-sm-10">
			@Html.Label($"{ViewBag.Url}{Model.ShortenedReference}")
		</dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Created data")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">To main</a>
</div>
